.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


div.container {
  height: 100%;
  width: 100%;
}


.card-text1 {
  height: 300px;
  overflow-y: scroll;
}


.container {
  max-height: 50px;
}


table tbody tr:nth-of-type(even) {
  background-color: #aaaaaa;
  height: 25px !important;
}
