body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#141e30, #243b55);
  width: 100vw;
	height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vertical-spacer {
  height: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(123, 98%, 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.btn-danger {
  text-shadow: none;
}


.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}


button:hover svg {
  transform: scale(1.2);
}


.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}


button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}


button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}


nav.bg-success {
  background-color: transparent !important;
}


nav * {
  text-decoration: none;
}


.navbar-collapse {
  flex-basis: initial !important;
  flex-grow: initial !important;
}


.logo {
  width: 75px;
}


.dropdown-menu a {
  color: #100cec !important;
  font-weight: bold;
}


.dropdown-toggle {
  background-color: transparent !important;
  border: none;
  font-size: 50px;
}


.dropdown-toggle::after {
  display: none;
}


.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(0, 255, 255);
}


.card {
  position: relative;
  width: fit-content;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}


.wrapper {
  position: relative;
  height: 100%;
}


.header {
  height: 50px;
  background-color: #ccc;
}


.content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
}


.footer {
  height: 50px;
  background-color: #ccc;
}


#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
