.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.welcome-text {
  color: white;
  margin-bottom: 40px;
  font-family: "Mona Sans", sans-serif;

}


.hidden {
  display: none;
}


@font-face {
  font-family: "Mona Sans";
  src: url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("https://assets.codepen.io/64/Mona-Sans.woff2")
      format("woff2-variations");
  font-weight: 100 1000;
}


.main-page-card {
  font-size: 50px;
  font-family: "Mona Sans", sans-serif;
  position: relative;
  width: fit-content;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  border-radius: 30px;
  color: white;
}


.main-page-card--fit {
  font-size: 13.999999px;
}


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


:root {
  --main-page-card-height: 65vh;
  --main-page-card-width: calc(var(--main-page-card-height) / 1.5);
}


.main-page-card:hover:before, .main-page-card:hover:after {
  animation: none;
  opacity: 0;
}


.main-page-card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 30px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -2;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


.main-page-card::after {
  position: absolute;
  content: "";
  top: calc(var(--main-page-card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--main-page-card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}


.exercise-list {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}


.exercise-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.try-button,
.hide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(123, 98%, 60%);
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 20px;
}


.try-button:active,
.hide-button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}


.try-button svg,
.hide-button svg {
  transition: all 0.5s ease;
  z-index: 2;
}


.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}


.try-button:hover svg,
.hide-button:hover svg {
  transform: scale(1.2);
}


.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}


.try-button:hover .now,
.hide-button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}


.try-button:hover .play,
.hide-button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}


.hide-button {
  margin-top: 0;
}
